<div class="wallpaper">
	<div class="email-form">
		<i class="fa fa-users"></i>
		<div class="hello-world">Hi!  Thanks for checking out GalleryEighteen!  We're finishing up building the site now, and building a great community of artists for you to interact with right from the get-go.  If you throw your email in the box below, we'll let you know as soon as we have any updates!</div>
		<div class="fields">
		  	<input class="email" id="email"></input>
	  		<label for = "email">Email goes here!</label>
		  	</div>
		  	<button class="email-list">Stay Up-To-Date</button>
		  	<!--new_mailing_list_path should replace the above path-->
		</div>
	</div>
</div>
<div class="bar2">
	<div class="headshots">
		<h3 class="title">Featured Artists</h3>
		<div class="popular" id="first">
			<a href="#" class="artist-more">
				<p class="artist-name">Mike Carmody</p>
				<p class="artist-detail">Master cleanse before they sold out Bushwick gastropub literally church-key, Pitchfork artisan synth. American Apparel tattooed 8-bit, viral XOXO Etsy Truffaut. Sustainable hoodie Shoreditch slow-carb bespoke forage, distillery typewriter polaroid wolf cray Tumblr artisan pour-over. Letterpress blog Odd Future Terry Richardson paleo authentic. Wayfarers artisan squid viral, Pinterest VHS pug Odd Future Truffaut. +1 kogi retro selvage chillwave VHS, Tonx shabby chic master cleanse semiotics twee Shoreditch. Mixtape sartorial stumptown, pour-over paleo brunch flexitarian typewriter seitan.</p>
			</a>
		</div>
		<div class="popular" id="second">
			<a href="#" class="artist-more">
				<p class="artist-name">Josh Wood</p>
				<p class="artist-detail">Stumptown twee Williamsburg pickled. Shabby chic swag pork belly Tonx, jean shorts butcher viral Williamsburg Marfa. Typewriter cornhole Cosby sweater gastropub drinking vinegar beard. Vegan small batch Wes Anderson, gentrify Tonx Austin swag you probably haven't heard of them. Viral butcher ethnic, bicycle rights drinking vinegar McSweeney's cornhole salvia slow-carb organic scenester chillwave fingerstache. Narwhal post-ironic cardigan, mixtape jean shorts locavore umami. Shabby chic Truffaut before they sold out try-hard, Brooklyn PBR&B artisan bitters High Life hoodie Tumblr.</p>
			</a>
		</div>
		<div class="popular" id="third">
			<a href="#" class="artist-more">
				<p class="artist-name">Barack Obama</p>
				<p class="artist-detail">Wayfarers lo-fi locavore, 8-bit Godard wolf disrupt forage put a bird on it PBR&B. Brunch 3 wolf moon four loko American Apparel, tofu try-hard hashtag. Odd Future mustache butcher sriracha deep v iPhone. Hella forage small batch street art sustainable next level Banksy, McSweeney's jean shorts YOLO leggings sartorial gluten-free Pitchfork. Polaroid synth distillery YOLO cray, 3 wolf moon gluten-free pug dreamcatcher Schlitz fanny pack messenger bag Banksy tousled butcher. Occupy cliche Schlitz synth fashion axe, iPhone chambray flannel. Twee hella leggings Cosby sweater, 3 wolf moon Pitchfork viral synth dreamcatcher.</p>
			</a>
		</div>
		<div class="popular" id="fourth">
			<a href="#" class="artist-more">
				<p class="artist-name">Vincent Van Gogh</p>
				<p class="artist-detail">McSweeney's keytar typewriter mustache, bitters pug 3 wolf moon locavore direct trade try-hard tousled hella gluten-free next level cornhole. Small batch ennui farm-to-table iPhone Truffaut, Odd Future tousled vegan synth Pinterest fashion axe. Post-ironic Terry Richardson PBR High Life selfies bitters. Distillery Williamsburg fixie, fanny pack quinoa you probably haven't heard of them tousled leggings letterpress try-hard craft beer pickled farm-to-table chia. 8-bit slow-carb bicycle rights Pitchfork. Beard freegan ennui selfies asymmetrical disrupt. Food truck direct trade distillery Shoreditch cliche.</p>
			</a>
		</div>
	</div>
</div>
<div class="bar3">
	<div class="about-us">
		<h3>What Does This Site Do?</h3>
		<p>We hope to be the best place for <b>talented art students</b> to jump-start their careers as painters, photographers, sculptors, and designers.  Buyers from around the world can sign on to <b>follow and sponsor</b> talented artists, allowing those artists to develop a professional network of fans and buyers.  Buyers can commission prints with custom sizes, framing, and delivery, while artists can set a price in advance or put their original works up for auction to the public.  We're combining the <b>advantages of the modern web</b> with the proven success of traditional art galleries.  We aim to <b>lower the barrier</b> between young, creative talent and success, and we hope you'll join us in that effort.</p>
	</div>
</div>
<div class="bar4">
	<h2 class="title">Popular Pieces</h3>
	<div class="featured-art transitions-enabled infinite-scroll" id="masonry-container">
		<div class="featured box">
			<%= image_tag ('SimoneAnne-6292.jpg'), :id =>'first-pic'%>
			<label class="featured-label" for="first-pic">Lilypads</label>
		</div>
		<div class="featured box">
			<%= image_tag ('SimoneAnne-1862.jpg'), :id =>'second-pic' %>
			<label class="featured-label"  for="second-pic">Beach Glass</label>
		</div>
		<div class="featured box">
			<%= image_tag ('SimoneAnne-8689.jpg'), :id =>'eigth-pic' %>
			<label class="featured-label"  for="eigth-pic">Surfer Dude</label>
		</div>
		<div class="featured box">
			<%= image_tag ('SimoneAnne-1834.jpg'), :id =>'third-pic' %>
			<label class="featured-label"  for="third-pic">Sunshine</label>
		</div>
		<div class="featured box">
			<%= image_tag ('SimoneAnne-0180.jpg'), :id =>'fourth-pic' %>
			<label class="featured-label"  for="fourth-pic">Gondola Ride</label>
		</div>
		<div class="featured box">
			<%= image_tag ('SimoneAnne-1871.jpg'), :id =>'fifth-pic' %>
			<label class="featured-label"  for="fifth-pic">Another Beach</label>
		</div>
		<div class="featured box">
			<%= image_tag ('SimoneAnne-8325.jpg'), :id =>'seventh-pic' %>
			<label class="featured-label"  for="seventh-pic">Country Road</label>
		</div>
		<div class="featured box">
			<%= image_tag ('SimoneAnne-6289.jpg'), :id =>'sixth-pic' %>
			<label class="featured-label"  for="sixth-pic">Pathways</label>
		</div>
	</div>
</div>