<div class="wallpaper-login">
<div class="container">
	<div class="form">
		<div class="title">Create an Account</div>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="email"><%= f.label :email %>
  <%= f.email_field :email, :autofocus => true %></div>

  <div class="password"><%= f.label :password %>
  <%= f.password_field :password %></div>

  <div class="password"><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %></div>

  <div class='signup'><%= f.submit "Sign up", :class => 'tiny button' %></div>
<% end %>

<%= render "devise/shared/links" %>

	</div>
</div>
</div>