<div class="other_user">

	<% provide(:title, @user.name) %>
	<%= image_tag @user.avatar.url(:medium) %>

	<div class="user-name"><%= @user.name %></div>
	<div class="interests">Mainly interested in <%=@user.category%></div>
	<div class="user-email"><%= mail_to @user.email, name = nil, html_options = {:subject => 'Contact via HSArt.com'} %></div>

	<!--followers and followed users counts -->
	<%= render 'stats' %>
	<%= render 'follow_form' %>

</div>