<div class="container" ng-controller="UserCtrl">
	<div class="user-wallpaper">
		<% if flash[:alert] %>
		    <div class="notice"><%= flash[:alert] %> <%= @user.name %></div>
	 	<% end %>

		<% if current_user == @user %>
			<%= render 'profile' %>
			<%= render 'following' %>
		<% else %>
			<%= render 'other_user' %>
		<% end %>
		</div>


	</div>
</div>

