<div class="container">
	<div class="user-wallpaper">
		<div class="profile">

			<% provide(:title, @user.name) %>
			<h1 class='gravatar'>
				<%= gravatar_for @user %>
				<%= @user.name %>
			</h1>

			<%= @user.name %>
			<%= @user.email %>



			<!-- Form upload, doesn't function yet <%= form_for @user do |f| %>
			  <%= f.file_field :picture %>
			<% end %> -->
		</div>
	</div>
</div>