<div class = "container">
  <h1>Listing items</h1>
      <div id="masonry-container" class="store-container transitions-enabled infinite-scroll has-gutters">
        <% @items.each do |item| %>
          <div class="item box col">
            <%= image_tag "SimoneAnne-0023.jpg" %>
            <%= item.title %>
            <%= item.price %>
            <%= link_to 'Show', item %>
            <%= link_to 'Edit', edit_item_path(item) %>
            <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        <% end %>
      </div>
  </div>
<%= link_to 'New Item', new_item_path %>