	<%= image_tag @item.picture.url, :class => "bg-img" %>
	<p id="notice"><%= notice %></p>
	<div class="item-container">
		<%= image_tag (@item.picture.url)%>
			
		<div class='show-info'>
		  <div class="show-title"><%= @item.title %></div>
		  <div class='show-price'>$<%= @item.price %></div>
		  <div class="show-details"><%= @item.details %></div>
		</div>

		<div class="show-creator">Creator: <b>
			<% if @item.user.name != nil %>
				<%= link_to @item.user.name, user_url(@item.user) %>
			<% else %>
				Anonymous
			<% end %>
			</b></div>
		
		<% if @item.user.name != nil %>
			<% unless current_user.following?(@item.user) %>
				<%= form_for(current_user.relationships.build(followed_id: @item.user.id)) do |f| %><div><%= f.hidden_field :followed_id %></div>
				  <%= f.submit "Follow this user", :class => "follow" %>
				<% end %>
			<% end %>
		<% else %>
		<% end %>
	</div>

	<div class="back-link">&larr; <%= link_to 'Back to Browsing', items_path %></div>
</div>